body{
  background-image: url('../img/bgimg.png');
}

.nav > li {
  position:relative;
  display:inline;
}

#logo {
  max-height:90px;
}

.navbar {
  height:160px;
  background:rgba(255,255,255,0.75);
}

div.custom {
  height: 170px;
}

.custom img {
  height:170px;
  width: 350px;
}


.overlay {
}

/*.jumbotron {
  border-radius:20px;
  padding:1px;
  max-width:650px;
  margin:0 auto;
  background:rgba(255,255,255, 0.75);
}*/


.jumbotron {
  border-radius: 20px;
  padding: 1px;
  max-width: 650px;
  min-width: 500px;
  margin: 0px auto;
  background: rgba(255,255,255, 0.75);
  position: absolute;
  left: 64%;
  bottom: 5%;
  top: 80%;
  margin-right: 20px;
  max-height: 136px;
  min-height: 109px;

}

@media (max-width:414px) {
  .jumbotron {
    border-radius: 9px;
    padding: 3px;
    max-width: 650px;
    min-width: 180px;
    margin: 0px auto;
    background: rgba(255,255,255, 0.75);
    position: absolute;
    left: 40%;
    bottom: 5%;
    top: 81%;
    margin-right: 30px;
    max-height: 70px;
    min-height: 80px;

  }
  .jumbotron p {
    font-size: 10px;
  }
  .jumbotron h2 {
    font-size: 11px;
  }
}

div#Project-detail.thumbnail {
}

.boxshadow {
  box-shadow:0 0 12px black;
}

.mg a {
    margin-right: 26px;
    margin-top: 20px;
    font-weight: bold;

}

.mg a:hover{
  margin-right: 26px;
  margin-top: 20px;
  text-decoration: none;
}

#logos {
  margin: 0 auto;
  padding: 35px 35px;

}


.caption a:hover {
  text-decoration: none;
}

.caption a {
  color: white;
}
