<% include header %>



<div id="intro">
    <div class="jumbotron-ap">
        <h2><strong>KODUS des solutions pour des espaces de vie agréable</strong> </h2>
        <p><strong>Conseil, Design, Solutions, Services</strong> </p>
    </div>
</div>


<% include footer %>
