<% include header %>



<div id="intro">
    <div class="jumbotron">
        <h2><strong>KODUS des solutions pour des espaces de vie agréable</strong> </h2>
        <p><strong>Notre métier, votre confort</strong> </p>
        <p><strong>Design, solution , confort</strong> </p>
    </div>
</div>


<% include footer %>
