<% include header %>


<div id="Project-detail">
    <div class="container" id="info-container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12" id="contact-box">
                <!-- <p id="contact-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam magnam natus tempora cumque, aliquam deleniti voluptatibus voluptas. Repellat vel, et itaque commodi iste ab, laudantium voluptas deserunt nobis. </p> -->
                <div class="info-box"><i class="glyphicon glyphicon-map-marker my-info-icons"></i><span class="text-uppercase text-info">Address: </span><span>8, Avenue Mohamed Sijilmassi Casablanca Maroc</span></div>
                <div class="info-box"><i class="glyphicon glyphicon-envelope my-info-icons"></i><span class="text-uppercase text-info">Email: </span><span>contact@kodusdb.com </span></div>
                <div class="info-box"><i class="glyphicon glyphicon-phone-alt my-info-icons"></i><span class="text-uppercase text-info">Phone: </span><span>+212522000000 </span></div>
                <div class="info-box"><i id="trigger" class="glyphicon glyphicon-phone-alt my-info-icons"></i><span class="text-uppercase text-info">Mobile: </span><span id="affiche">+21266000000 </span></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 site-form">
                <div class="boxshadow thumbnail">
                    <iframe frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDunw_VZqsQ--A7RRQO-7b_1eokaI2b0mg&amp;q=8%2C+avenue+Mohamed+sijilmassi%2C+casablanca%2C+maroc&amp;zoom=15"></iframe>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<% include footer %>


<script>
  $(document).ready(function(){
    $("#affiche").css("display", "none");
    $("#trigger").click(function(){
      console.log("OK");
      $("#affiche").toggle("display");

    });
  });

</script>
