<% include header %>


<div id="Project-detail">
    <div class="row">

        <div class="col-sm-12">
            <div id="media-right-aligned" class="media">
                <div class="media-body">
                    <h4 class="media-heading"><strong><%= title %></strong> </h4>
                    <p>
                      Si vous souhaitez : <br>
                      agrandir vos bureaux actuels, revoir l'agencement de vos bureaux, aménager un plateau de bureaux,<br>
                      créer une salle de réunion, insérer des portes ou des modules vitrés,<br>
                      créer des espaces individuels <strong>KODUS</strong> vous proposera les solutions les plus adaptées : <br>
                      cloison bureau amovibles, cloison bureau pleines, cloison bureau vitrées toutes hauteurs, portes, etc…
                    </p>
                </div>
                <a href="./img/ela/img1.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ela/img1.jpg"></div></a>
                <a href="./img/ela/img2.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ela/img2.jpg"></div></a>
                <a href="./img/ela/img3.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ela/img3.jpg"></div></a>
                <a href="./img/ela/img4.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ela/img4.jpg"></div></a>
                <a href="./img/ela/img5.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ela/img5.jpg"></div></a>
                <a href="./img/ela/img6.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ela/img6.jpg"></div></a>
                <a href="./img/ela/img7.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ela/img7.jpg"></div></a>
            </div>
        </div>
    </div>
</div>


<% include footer %>
