    <script src="./js/jquery.min.js"></script>
    <script src="./components/bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/Background-Image-Slider1.js"></script>
    <script src="./js/Background-Image-Slider.js"></script>
</body>

</html>
