<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kodus WebSite</title>
    <link rel="stylesheet" href="../components/bootstrap/css/bootstrap.min.css">
    <link href="../components/lightbox2/css/lightbox.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower"> -->
    <link rel="stylesheet" href="./css/Background-Image-Slider.css">
    <link rel="stylesheet" href="./css/Background-Image-Slider1.css">
    <link rel="stylesheet" href="./css/Carousel-Hero.css">
    <link rel="stylesheet" href="./css/ebs-contact-form.css">
    <link rel="stylesheet" href="./css/ebs-contact-form1.css">
    <!-- <link rel="stylesheet" href="assets/css/Footer-Basic.css"> -->
    <link rel="stylesheet" href="./css/Navigation-Clean1.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="/"> <img class="img-responsive" src="./img/logo.png" id="logo">
                    <p class="slogan"><strong>KODUS</strong> conception d’ouvrage spéciaux </p>
                </a>
                <button class="navbar-toggle collapsed hidden" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="pull-right mg">
              <ul class="list-unstyled">
                  <img height="16" width="25" src="./img/fr-flag.png" alt="fr-flag" title="fr">
                  <img height="16" width="25" src="./img/en-flag.png" alt="en-flag" title="en">
                  <li><a href="/apropos">A propos</a></li>
                  <li><a href="/realisations">Réalisations</a></li>
                  <li><a href="/references">Références</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
        </div>
    </nav>
