<% include header %>


<div id="Project-detail">
    <div class="row">

        <div class="col-sm-12">
            <div id="media-right-aligned" class="media">
                <div class="media-body">
                    <h4 class="media-heading"><strong>ICE MAGHREB</strong> </h4>
                    <p>
                      Aménagement et personnalisation plateau de bureau ICE MAGHREB.
                      Des cloisons amovibles type SLIM en vitrage feuilleté type silence en bord ‡ isolation acoustique.
                      Portes SLIM en verre trempé, un design épure et une haute isolation acoustique.
                    </p>
                </div>
                <a href="./img/ice-maghreb/img1.jpg" data-lightbox="image-1" data-title="CLOISON BORD A BORD"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ice-maghreb/img1.jpg"></div></a>
                <a href="./img/ice-maghreb/img2.jpg" data-lightbox="image-1" data-title="CLOISON BORD A BORD"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ice-maghreb/img2.jpg"></div></a>
                <a href="./img/ice-maghreb/img3.jpg" data-lightbox="image-1" data-title="CLOISON BORD A BORD"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/ice-maghreb/img3.jpg"></div></a>
            </div>
        </div>
    </div>
</div>


<% include footer %>
