<% include header %>


<div id="intro">
    <div class="jumbotron">
        <h2><strong>Conception Réalisation Solution</strong> </h2>
        <p><strong>La créativité et l’innovation&nbsp;</strong> </p>
    </div>
</div>



<% include footer %>
