<% include header %>


<div id="Project-detail">
    <div class="row">

        <div class="col-sm-12">
            <div id="media-right-aligned" class="media">
                <div class="media-body">
                    <h4 class="media-heading"><strong><%= title %></strong> </h4>
                    <!-- <p>
                      La fondation <strong>CHEIKH KHALIFA</strong> confie à <strong>KODUS</strong> l’installation des pergolas bioclimatiques, une solution qui a permis aux étudiants de profiter des espaces extérieurs en journée comme en soirée.
                    </p> -->
                </div>
                <a href="./img/jessr/img1.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/jessr/img1.jpg"></div></a>
                <a href="./img/jessr/img2.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/jessr/img2.jpg"></div></a>
                <a href="./img/jessr/img3.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/jessr/img3.jpg"></div></a>
                <a href="./img/jessr/img4.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/jessr/img4.jpg"></div></a>
            </div>
        </div>
    </div>
</div>


<% include footer %>
