<% include header %>


<div id="Project-detail">
    <div class="row">

        <div class="col-sm-12">
            <div id="media-right-aligned" class="media">
                <div class="media-body">
                    <h4 class="media-heading"><strong>PASSAGE FITHNESS</strong> </h4>
                    <p>
                      Pour un endroit plus chaleureux et convivial, profitez des lames orientables de l'incontournable pergola bioclimatique, une solution que Passage Fitness a opté pour séduire ses clients et ce afin de créer une ambiance complètement décontractée.
                    </p>
                </div>
                <a href="./img/passage-fithness/img1.jpg" data-lightbox="image-1" data-title="PERGOLA BIOCLIMATIQUE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/passage-fithness/img1.jpg"></div></a>
                <a href="./img/passage-fithness/img2.jpg" data-lightbox="image-1" data-title="PERGOLA BIOCLIMATIQUE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/passage-fithness/img2.jpg"></div></a>
                <a href="./img/passage-fithness/img3.jpg" data-lightbox="image-1" data-title="PERGOLA BIOCLIMATIQUE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/passage-fithness/img3.jpg"></div></a>
                <a href="./img/passage-fithness/img4.jpg" data-lightbox="image-1" data-title="PERGOLA BIOCLIMATIQUE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/passage-fithness/img4.jpg"></div></a>
            </div>
        </div>
    </div>
</div>


<% include footer %>
