<% include header %>


<div id="Project-detail">
    <div class="row">

        <div class="col-sm-12">
            <div id="media-right-aligned" class="media">
                <div class="media-body">
                    <h4 class="media-heading"><strong><%= title %></strong> </h4>
                    <p>
                      Des solutions d'aménagement pour sèparer, rendre confidentiel ou isoler les espaces de travail en fonction de vos attentes.
                      Nous étudions avec vous les diffÈrentes possibilités d'aménagement d'intérieur de vos locaux et nous vous transmettons une simulation en plan et élévation de votre projet.                    </p>
                </div>
                <a href="./img/pharma-5/img1.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/pharma-5/img1.jpg"></div></a>
                <a href="./img/pharma-5/img2.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/pharma-5/img2.jpg"></div></a>
                <a href="./img/pharma-5/img3.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/pharma-5/img3.jpg"></div></a>
                <a href="./img/pharma-5/img4.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/pharma-5/img4.jpg"></div></a>
                <a href="./img/pharma-5/img5.jpg" data-lightbox="image-1" data-title="PERGOLA A LAME BRISE SOLEIL FIXE"><div class="item col-sm-2 boxshadow thumbnail"><img class="img-responsive" src="./img/pharma-5/img5.jpg"></div></a>
            </div>
        </div>
    </div>
</div>


<% include footer %>
