<% include header %>


<div id="Project-detail">
    <div class="row">
        <div class="col-sm-6 boxshadow thumbnail"><img class="img-responsive" src="./img/img6.jpg"></div>
        <div class="col-sm-6">
            <div id="media-right-aligned" class="media">
                <div class="media-body">
                    <h4 class="media-heading"><strong>CHEIKH KHALIFA</strong> </h4>
                    <p>Descriptiion . . . . </p>
                </div>
            </div>
        </div>
    </div>
</div>


<% include footer %>
