<% include header %>


<div id="projects" style="max-height:1440px;">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/projects"><img class="img-responsive" src="./img/img5.jpg"></a>
                    <div class="caption">
                        <a href="/projects"><h3>Project Title</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/projects"><img class="img-responsive" src="./img/img7.jpg"></a>
                    <div class="caption">
                        <a href="/projects"><h3>Project Title</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/projects"><img class="img-responsive" src="./img/img8.jpg"></a>
                    <div class="caption">
                        <a href="/projects"><h3>Project Title</h3></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img class="img-responsive" src="./img/img8.jpg">
                    <div class="caption">
                        <a href="/projects"><h3>Project Title</h3></a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                  <div class="custom">
                    <a href="/cheikh-khalifa"><img class="img-responsive" src="./img/img5.jpg"></a>
                  </div>
                    <div class="caption">
                        <a href="/cheikh-khalifa"><h4>FONDATION CHEIKH KHALIFA</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="custom">
                    <a href="/passage-fithness"><img class="img-responsive" src="./img/img7.jpg"></a>
                    </div>
                    <div class="caption">
                        <a href="/passage-fithness"><h4>PASSAGE FITHNESS</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="custom">
                    <a href="/ice-maghreb"><img class="img-responsive" src="./img/img8.jpg"></a>
                    </div>
                    <div class="caption">
                        <a href="/ice-maghreb"><h4>ICE MAGHREB</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                  <div class="custom">
                    <a href="/jessr"><img class="img-responsive" src="./img/img5.jpg"></a>
                  </div>
                    <div class="caption">
                        <a href="/jessr"><h4>JESSR</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="custom">
                    <a href="/pharma-5"><img class="img-responsive" src="./img/img7.jpg"></a>
                    </div>
                    <div class="caption">
                        <a href="/pharma-5"><h4>PHARMA 5</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="custom">
                    <a href="/villa-lido"><img class="img-responsive" src="./img/img8.jpg"></a>
                    </div>
                    <div class="caption">
                        <a href="/villa-lido"><h4>VILLA LIDO</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<% include footer %>
