<% include header %>


<div id="projects">
    <div class="row" id="logos">
        <div class="col-md-3"><img src="./img/logof&amp;g.png" class="img-responsive" /></div>
        <div class="col-md-3"><img src="./img/logofckiz.png" class="img-responsive" /></div>
        <div class="col-md-3"><img src="./img/logopharma5.png" class="img-responsive" /></div>
        <div class="col-md-3"><img src="./img/logopassagefitness.png" class="img-responsive" /></div>
    </div>
    <div class="row" id="logos">
        <div class="col-md-3"><img src="./img/logoxploretravel.png" class="img-responsive" /></div>
        <div class="col-md-3"><img src="./img/logopernodricard.png" class="img-responsive" /></div>
        <div class="col-md-3"><img src="./img/logobottu.png" class="img-responsive" /></div>
        <div class="col-md-3"><img src="./img/logodalaa.png" class="img-responsive" /></div>
    </div>
    <div class="row" id="logos">
        <div class="col-md-3"><img class="img-responsive" src="./img/LogoIceMaghreb.png" /></div>
        <div class="col-md-3"><img class="img-responsive" src="./img/logof&amp;g.png" /></div>
        <div class="col-md-3"><img class="img-responsive" src="./img/logof&amp;g.png" /></div>
        <div class="col-md-3"><img class="img-responsive" src="./img/logof&amp;g.png" /></div>
    </div>
</div>


<% include footer %>
